.text{
  padding: 10px;
  color: black;
  background-color: #5a5f44;
  max-width: 300px;

}

.logo{
  font-family: fantasy;
  font-style: italic;
  font-weight: 400;
  cursor: pointer;
}

.logoContainer{
  padding-top: 20px;
  text-align: center;
}