body {
  background-image: url(http://backgroundlabs.com/files/bokeh-large-background-1680-1050.png);
  /* background-image: url(https://img.vixdata.io/pd/jpg-large/es/sites/default/files/btg/tech.batanga.com/files/Fondos-para-paginas-web-07.jpg); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
