body {
  background-image: url(https://lh3.googleusercontent.com/_fO8r9m3n4AxKaeXUmrbrmfPhXrbKuaW4x8elTTsI3iq_1JoyE1QX51MUyPKtyNXDx7S_d7hahq-QF9PduJup2EZ2AYotc17FYWdL2NxDdPBF9NIPVdYlwVoS735XuTt-mma78jSZ2TtgYtbTYy2Juqq_-3XR8myUe0grmnlCptZWpBULJvxoZREEahwftvxM9IXSihKUxhMfHDJ0uVnBQjNXjjtkdFcjBIdsb6w9q33vC-FUdAVq4cBttwtSNu18sS6TdpSjL8M9riWPoGVQjCKnbLuRwWwU-iRsZdNIuRnxCAOsvmcce-En0UaQH7-0kzgGb40smv3gLayLKGdpG8TxgA2n3p6frxS0tCBG5wpsEBrYzmrMMTPKZmVotyYqL_5AUhZs1GqnP_D6SkCU-5fBiZStJY62LgtHU4-VJzhWaYLeHqX4M5HL4m16HkEWI-LUSc79i97iS5DkJdI0nC1NTV0QPuZ-yBliGVfrg805VCsLGJikKCP8FY_emEUW3RbI4f0EabOPxqogYbQ0X6DGqr2Ik2CX3w2N1TzZ_oVU2voKHxLyxHaShXjtYl3tWhKCJnlcKgdfFa0nq4RtP35H8wLUrLnYtsLUun11IHH9mz1XQhGru-g0e1I2s1PFDHi_UC4B8xDtywPtEA23TqL0DTZ_GSpHkkd1Yyb-UbAMeZp3BDV3zkJIrqyjHU=w1023-h639-no?authuser=0);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
