.title{
  padding-top: 5px;
  font-size: large;
  font-family: Helvetica, sans-serif;
}

.title:hover {
cursor: pointer;
text-decoration: underline;
}

.poster:hover {
cursor: pointer;
}

.poster{
width: 70%;
height: auto;
border: 1px solid black;
padding: 1px;
}