.text{
    padding: 10px;
    color: black;
    background-color: #5a5f44;
    max-width: 300px;

}

.badge.badge-pill{
    padding: 5px;
}

.blockDisplay{
    display: block;
    block-size: 300px;
    border: 1px solid black;
    background-color: #444c5f;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.banners{
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
}
